<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SessionManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HiddenServlet1</display-name>
    <servlet-name>HiddenServlet1</servlet-name>
    <servlet-class>com.simplilearn.sessionManagement.servlet.controllers.HiddenServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenServlet1</servlet-name>
    <url-pattern>/HiddenServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiddenServlet2</display-name>
    <servlet-name>HiddenServlet2</servlet-name>
    <servlet-class>com.simplilearn.sessionManagement.servlet.controllers.HiddenServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenServlet2</servlet-name>
    <url-pattern>/HiddenServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UrlReWriteServlet1</display-name>
    <servlet-name>UrlReWriteServlet1</servlet-name>
    <servlet-class>com.simplilearn.sessionManagement.servlet.controllers.UrlReWriteServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlReWriteServlet1</servlet-name>
    <url-pattern>/UrlReWriteServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UrlReWriteServlet2</display-name>
    <servlet-name>UrlReWriteServlet2</servlet-name>
    <servlet-class>com.simplilearn.sessionManagement.servlet.controllers.UrlReWriteServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlReWriteServlet2</servlet-name>
    <url-pattern>/UrlReWriteServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieServlet1</display-name>
    <servlet-name>CookieServlet1</servlet-name>
    <servlet-class>com.simplilearn.sessionManagement.servlet.controllers.CookieServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet1</servlet-name>
    <url-pattern>/CookieServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieServlet2</display-name>
    <servlet-name>CookieServlet2</servlet-name>
    <servlet-class>com.simplilearn.sessionManagement.servlet.controllers.CookieServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet2</servlet-name>
    <url-pattern>/CookieServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet1</display-name>
    <servlet-name>SessionServlet1</servlet-name>
    <servlet-class>com.simplilearn.sessionManagement.servlet.controllers.SessionServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet1</servlet-name>
    <url-pattern>/SessionServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet2</display-name>
    <servlet-name>SessionServlet2</servlet-name>
    <servlet-class>com.simplilearn.sessionManagement.servlet.controllers.SessionServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet2</servlet-name>
    <url-pattern>/SessionServlet2</url-pattern>
  </servlet-mapping>
</web-app>